#body{
    -fx-background-color: #001B48;
}

#listView {
    -fx-min-width: 567;
    /* -fx-min-height: 514; */
    -fx-background-color: transparent;
    -fx-padding: 10px;
}

#listView .list-cell{
    /* -fx-text-fill:#001B48; */
    -fx-alignment: CENTER;
    -fx-background-color: transparent;

}


#button{
    -fx-background-color: transparent;
    -fx-font-size:15px;
    -fx-text-fill:rgb(255, 255, 255);
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 10, 0.5, 2, 2);
}

#button:hover {
    -fx-text-fill:rgb(153, 153, 153);
    -fx-cursor: hand;
}

#leftContainer{
    -fx-background-color: #E5DDDA;
    -fx-background-radius: 10;
    -fx-min-width: 650;
    -fx-min-height: 514;
}

#leftTittle{
    -fx-font-size:20px;
    -fx-text-fill:white;
    -fx-font-weight: bold;
    -fx-min-width: 262;
    -fx-min-height: 43;
    -fx-background-color: #001B48;
    -fx-background-radius: 40;
}


#listViewButton{
    -fx-min-width: 432;
    -fx-min-height: 30;
    -fx-text-fill:white;
    -fx-font-size:12px;
    -fx-font-weight: bold;
    -fx-background-color: #001B48;
}

#listViewButton:hover{
    -fx-cursor: hand;
}

#buttonContainer{
    -fx-padding : 5px;
}



#rightTittle{
    -fx-background-color: #001B48;
    -fx-min-width: 262;
    -fx-min-height: 43;
    -fx-text-fill:white;
    -fx-font-size:20px;
    -fx-font-weight: bold;
    -fx-background-radius: 40;
    -fx-alignment: CENTER;
}

#rightImage{
    -fx-min-width: 140;
    -fx-min-height: 122;
    -fx-background-radius: 10;
}

#rightContainer{
    -fx-min-width: 577;
    -fx-min-height: 235;
    -fx-background-color: #E5DDDA;
    -fx-alignment: CENTER;
    -fx-background-radius: 20;
}

#rightContainer:hover{
    -fx-cursor: hand;
}

#tripName{
    -fx-text-fill:white;
    -fx-font-size:10px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}

#tripName:hover{
    -fx-text-fill:rgb(193, 193, 193);
    -fx-cursor: hand;
}

#umkm{
    -fx-min-width: 134;
    -fx-min-height: 129;
    -fx-background-color: #ffffff;
    -fx-alignment: CENTER;
    -fx-background-radius: 10;
}

#umkmName{
    -fx-text-fill:#001B48;
    -fx-font-size:10px;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-background-color: transparent;
}
#umkmName:hover{
    -fx-cursor: hand;
    
}

#detailText{
    -fx-font-size:9px;
}